body {
    background-color: #f0f0f0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* #bg {
    background: url('/src/img/bg.jpg') center center no-repeat;
    background-size: cover;
    filter: brightness(100%) saturate(140%);
} */


.btn {
    margin: 10px;
    margin-right: 3px;
}